
a{
  font-size: 32px;
}
.profilePic, video {
  max-width: 100%;
  /* height: auto; */
  width: 450px;
  height: 400px;
}
.name {
  color: rgb(11 194 194);
}

.btn{
  background-color: rgb(11 194 194);;
  color: white;
}
